.awesomemotive-container {

	.components-notice {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		overflow: hidden;
		display: flex;
		box-sizing: border-box;

		&.is-error {
			background-color: rgb(255 0 0 / 52%);
			color: #fff;
		}

		&.is-success {
			background-color: rgb(83 147 83 / 55%);
			color: #fff;
		}

		p {
			margin: 8px;
		}

		.components-notice-message {
			padding-top: 10px;
			padding-bottom: 10px;
			box-sizing: border-box;
			width: calc(100% - 32px);
			float: left;
			margin: 0 16px;
		}

		.components-notice-button {
			width: 10%;
			padding-top: 10px;

			& svg {
				background-color: #fff;
			}
		}
	}

	.awesomemotive-settings-container {
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-gap: 40px;

		.awesomemotive-settings-form-inputs {
			padding: 5px;
			margin-bottom: 5px;

			.awesomemotive-settings-add-inputs {
				text-align: center;
				background-color: #2271b1 !important;
				border: none;
				color: #f00;
				padding: 15px 32px;
				text-decoration: none;
				font-size: 16px;
				margin-left: 5px;

				svg {
					background-color: #fff;
				}
			}

			.awesomemotive-settings-form-input-repeater {
				margin-bottom: 15px;
				width: 100%;
				padding: 5px;

				.awesomemotive-settings-form-input-error {
					color: #f00000;
					font-weight: 600;
					font-size: 10px;
				}

				.awesomemotive-settings-form-input-control {
					width: 50%;
					float: left;
					margin-right: 20px;
					background-color: #ccc;
					border-right: 1px solid #ccc;

					label {
						color: #000;
						margin-left: 10px;
						margin-top: 10px;
					}
				}

				.awesomemotive-settings-form-input-trash-icon {
					overflow: hidden;
					margin: 10px;

					svg {
						color: #f00000;
						cursor: pointer;
					}
				}
			}
		}
	}

	.awesomemotive-container-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		ul {
			list-style: none !important;
			counter-reset: any-name;

			li {
				counter-increment: any-name;

				&:before {
					content: counter(any-name);
					margin-right: 0.8rem;
				}
			}
		}
	}

	.awesomemotive-container-table {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 33px 30px;

		table {
			width: 960px;
			border-radius: 30px;
			overflow: hidden;
			display: table;
			margin: 0;
			text-align: center;

			caption {
				font-size: 30px;
				font-weight: bold;
				margin-bottom: 30px;
				margin-top: 10px;
			}

			thead {
				color: #fff;
				background: #2271b1 !important;

				tr {
					td {
						font-size: 18px;
						color: #fff;
						line-height: 1.2;
						font-weight: unset !important;
						padding-top: 19px;
						padding-bottom: 19px;

						&:nth-child(1) {
							width: 10%;
						}
					}
				}
			}

			tbody {
				background: #ccc;

				tr {
					display: table-row;
					background: #fff;

					&:hover {
						background: #2271b191 !important;

						td {
							color: #fff !important;
						}
					}

					td {
						display: table-cell;
						font-size: 15px;
						color: #666;
						line-height: 1.2;
						font-weight: unset !important;
						padding-top: 20px;
						padding-bottom: 20px;
						border-bottom: 1px solid #f2f2f2;
					}
				}
			}
		}
	}

	.awesomemotive-graph-container {
		margin: 0 auto;
		width: 600px;
		height: 100%;
	}

	.awesomemotive-graph-reload {
		text-align: right;

		svg {
			box-shadow: 0 1px 3px #666;
			font-family: Arial, serif;
			color: #fff;
			font-size: 16px;
			background: #3498db;
			padding: 10px 20px;
			text-decoration: none;
			border-radius: 15px;

			&:hover {
				background-color: #3cb0fd;
				text-decoration: none;
			}
		}
	}

	.react-tabs {
		&&__tab-list {
			background: white;

			li {
				padding: 10px;
				margin-left: 10px;
				bottom: -6px;
			}
		}

		&&__tab--selected {
			border: 0 !important;
			border-bottom: 5px solid #2271b1 !important;
		}
	}
}
